*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    background-color:#effbfa;
    color: black;
}

h1{
    color:aqua;
    font-weight: bolder; 
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none; 
    color:magenta;
    font-family: 'Courier New', Courier, monospace;
}

.topnav div firstchild h1:last-child{
    color:magenta;
}
