*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    background-color:azure;
    color: black;
}

h1{
    color:aqua;
    font-weight: bolder; 
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none; 
    color:magenta;
}
