*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body{
    background-color:#effbfa;
    color: black;
}

h1{
    color:aqua;
    font-weight: bolder; 
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none; 
    color:magenta;
    font-family: 'Courier New', Courier, monospace;
}

.topnav div:last-child{
    color:magenta;
}

/*navbars*/
.topnav {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    position:sticky;
    top:0;
    
}

.topnav a {
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 17px;    
    color:blue;
    font-weight: bold;
    display: inline-block;
}

.topnav a:hover {
    background-color: blue;
    color:white;
}

.topnav a:active {
    background-color:deeppink;
    color:black;
}