<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div class="topnav">
    <div><h1>TN</h1><h1>Dashboard</h1></div>
    <div>
        <a href="{% url 'tasks' %}">Tasks</a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div> 
<div><h1>Sveicināts, {{ user.email }}!</h1></div>
</body>
</html>
