<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="login">
        <h1>TemporaryName</h1>
        <form id="login" method="POST" action="">
            {% csrf_token %}
            <div class="forma">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="forma">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            </div>
            <div class="submit">
            <button type="submit">Submit</button>
            </div>
            <div class="forgot">
            <a href="#">forgot password UwU</a>
            </div>
        </form> 
    </div>
</body>
</html>