<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login">
        <h1>TemporaryName</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="first">Email:</label>
            <input type="text" id="first" name="first" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <button type="submit">Submit</button>

            <a href="#">forgot password UwU</a>
        </form> 
    </div>
</body>
</html>