<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>NewProject</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <form id="projectForm">
        <label>Project Name:</label>
        <input type="text" id="projectName" required>

        <label>Description:</label>
        <textarea id="projectDescription" rows="4" required></textarea>

        <label>Tasks:</label>
        <div id="taskList">
        <div class="task-item">
            <input type="text" placeholder="Task description" required>
            <button type="button" onclick="removeTask(this)">✖</button>
        </div>
        </div>
        <button type="button" onclick="addTask()">+ Add Task</button><br>

        <button type="submit">Create Project</button>
  </form>
</body>
</html>