<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>New Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Create New Project</h1>
    <form method="post" id="projectForm" class="pievForm">
        {% csrf_token %}
        <label for="project_name">Project Name:</label>
        <input type="text" name="project_name" id="projectName" required><br><br>

        <label for="project_description">Description:</label><br>
        <textarea name="project_description" id="projectDescription" rows="4" cols="50"></textarea><br><br>

        <label for="workers">Assign to:</label><br>
        <select name="workers" id="workers" multiple>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
        </select>
        <br><br>

        <label>Tasks (enter multiple tasks):</label><br>
        <div id="task-list"></div><br>
        <button type="button" onclick="addTask()">Add Task</button>
        

        <button type="submit">Create Project</button>
        
    </form>
    <a href="{% url 'projects' %}">Back to Projects</a>
</body>
</html>
